/* (C) Copyright Bobbing Wide 2011-2016
 */
 
.header-image .site-title > a {
	 width: 100%; 
	 float: left; 
	 height: 60px;;
}

.site-header .widget-area { font-size: 150%; }
.site-header .widget-area span.value { font-size: 120%; font-weight: bold;  }
.bw_thumbnail a img { padding: 19px 26px; }

.callback { font-weight: bold; }
li.callback.menu-item { border: 5px dotted  #e5554c ; }

.footer-widgets .genericon { 
	font-size: 30px;
	line-height: 1.625em;
}

span.country-name { display: none; }